<div class="container">
<div class="row box-1">
  <h4 class="col-sm-12">Search Leads</h4>
  <small class="col-sm-12">Select the business sector in which you are looking for leads</small>
<!--  <div class="row"> -->
  <div class="col-md-4 form-group">
    <label for=sector>Business Sector</label>
    <input type="text" name="sector" class="form-control" id="sector" placeholder="Eg:Social Media Agencies">
  </div>
  <div class="col-md-4 form-group">
    <label for=location>Location</label>
    <input type="text" name="location" class="form-control" id="location" placeholder="Eg:London, UK"></div>
 <!-- </div> -->
</div>
<div class="box-2">
  <h4>What contact details do you want to receive?</h4>
  <div class="form-check">
   <label class="form-check-label">
      <input type="radio" name="optradio" class="form-check-input">
    <div class="texts">
      <p>Just email</p>
      <small>If we find more than one email for a contact, we charge you for all of them</small>
    </div>
   </label>
  </div>
  <div class="form-check">
   <label class="form-check-label">
      <input type="radio" name="optradio" class="form-check-input">
    <div class="texts">
      <p>All contact details</p>
      <small>We will only charge you for one email per contact we find(the rest will be free)</small>
    </div>
   </label>
  </div>
  <a href="#" class="link">I want to know more</a>
</div>
<div>
<button type="button" class="btn btn-new">SEARCH</button>
</div>
</div>
