<div class="container">
	<div class="box-1">
		<div>
			<h5>Select the features you need in GoPinLead</h5>
			<p class="text-secondary">choose the perfect plan for you</p>
			<p class="text-secondary">the modules will complement your current plan with come of your more valuable features</p>
		</div>
	    <div class="tabset1 row">
	    		<div class="col-md-3 col-sm-6 col-lg-2">
	    			<button class="btn" routerLink="/mylists" routerLinkActive="activeBtn">Plans</button>
	    		</div>
	    		<div class="col-md-3 col-sm-6">
	    			<button class="btn" routerLink="/modules" routerLinkActive="activeBtn">Modules</button>
	    		</div>
	    			<div class="tab-content" >
	                
	    				<div class="box-border card bg-white green-border">
	    					<div class="card-body">
	    							<div class="banner-container">
	    								<div class="banner">YOUR PLAN</div>
	    							</div>
	    						<div class="text-center">
	    						<img src="/assets/img/free.png">
	    						<h3>Free</h3>
	    						<p class="below-margin">Getting Started</p>
	    						<h5 class="text-dark below-margin2"><span class="bold-font">$0</span> /month</h5>
	    						
	    						<p>50 credits/month</p>
	    						<p>------</p>
	    						<p>------</p>
	    						<h5>5</h5>
	    						<p>business per search</p>
	    						<p>------</p>
	    						<p>------</p>
	    						</div>	
	    						</div>
	    				</div>
	    				<div class="card box-border bg-white ">
	    					<div class="card-body">
	    						<div class="text-center">
	    						<img src="/assets/img/growth.png">
	    						<h3>Growth</h3>
	    						<p class="below-margin1">Our starter package for a one-man slow</p>
	    						<h5 class="text-dark"><span class="bold-font">$49</span> /month</h5>
	    						<button type="button" class="btn btn-primary">SUBSCRIBE</button>
	    						<p>1,000 credits/month</p>
	    						<p>Concierge service</p>
	    						<p>------</p>
	    						<h5>250</h5>
	    						<p>business per search</p>
	    						<p>business details</p>
	    						<p>Employee details</p>
	    						</div>	
	    						</div>
	    				</div>
	    				<div class="card bg-white yellow-border">
	    					<div class="card-body ">
	    						<div class="text-center extra">				
	    						<img src="/assets/img/pro.png">
	    						<h3 class="text-warning">Pro</h3>
	    						<p class="below-margin1">The perfect foundation for small sales teams</p>
	    						<h5 class="text-dark"><span class="bold-font">$399</span> /month</h5>
	    						<button type="button" class="btn btn-warning">SUBSCRIBE</button>
	    						<p>11,000 credits/month</p>
	    						<p>Concierge service</p>
	    						<p>Initial consultation</p>
	    						<h5>Unlimited</h5>
	    						<p>business per search</p>
	    						<p>Business details</p>
	    						<p>Employee details</p>
	    						</div>	
	    						</div>
	    				</div>
	    				<div class="card box-border bg-white leftMargin">
	    					<div class="card-body">
	    						<div class="text-center">
	    						<img src="/assets/img/performer.png">
	    						<h3>Performer</h3>
	    						<p class="below-margin1">Give your mid-sized sales team an awesome  boost</p>
	    						<h5 class="text-dark "><span class="bold-font">$399</span> /month</h5>
	    						<button type="button" class="btn btn-primary">SUBSCRIBE</button>
	    						<p>5,000 credits/month</p>
	    						<p>Concierge service</p>
	    						<p>Initial consultation</p>
	    						<h5>Unlimited</h5>
	    						<p>business per search</p>
	    						<p>Business details</p>
	    						<p>Employee details</p>
	    						</div>	
	    						</div>
	    				</div>
	    				<div class="card box-border bg-white manage-height">
	    					<div class="card-body">
	    						<div class="text-center">
	    						<img src="/assets/img/enterprises.png">
	    						<h3>Enterprise plan</h3>
	    						<p class="reduce-gap">To subscribe to an Enterprise Plan you need a code.</p> 
	    						<p class="reduce-gap">You can add more than one code.</p>
	    						<p class="below-margin3"> Do you already have a code?</p>
	    						<button type="button" class="btn btn-primary">SUBSCRIBE</button>
	    						<p>
	    						<a href="#" class="text-primary">How can I get a code?</a></p>
	    						</div>	
	    						</div>
	    				</div>
	    			</div>
	    </div>
		
	</div>
	           <div class="box-2">
	    					<h3>Custom plans</h3>
	    					<p class="reduce-gap">We have custom plans and plans for multiple user that can be adapted to particular business needs.</p>
	    					<p>Contact sales team to know more.</p>
	    					<button class="btn btn-new" type="button" data-toggle="modal" data-target="#contactSales" aria-controls="contactSales" aria-expanded="false" aria-label="Toggle navigation">Contact sales team</button>
                          <app-contact-sales></app-contact-sales>
	    		</div>
</div>
