 <nav class="navbar navbar-expand-sm">
<div class="container-fluid">
    <ul class="navbar-nav navbar-left">
      <li class="nav-item">
        <a class="nav-link" routerLink = "/dashboard">Dashboard</a>

      </li>
       <span class="line"></span>
      <li class="nav-item">
          
        <a class="nav-link" routerLink= "/mylists">My lists</a>
      </li>
    </ul>
  
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link badge badge-warning"> 
            <img src="/assets/img/credits.png">50 Credits
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span class="text">
            Buy extra credits</span>
            <img src="/assets/img/help.png" class="rounded-circle">
          </a>
        </li>

        <li class="nav-item dropdown" >
             <span class="line"></span> 
          Hi Ann!
           <img src="/assets/img/Screenshot (80).png" class="rounded-circle profile">
           <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
             <img src="/assets/img/arrow.png"> 
          </a>
          <div class="dropdown-menu">
            <h5 class="dropdown-header">Your plan:GoPinLeads Free</h5>
            <a href="#" class="dropdown-item"> <img src="/assets/img/my-account-icon.png" >See My Account</a>
            <a href="#" class="dropdown-item"><img src="/assets/img/plan-icon.png" >See Plans</a>
            <a href="#" class="dropdown-item"><img src="/assets/img/modules-icon.png" >See Modules</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item text-center"><span class="badge badge-primary">Use code</span></a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"><img src="/assets/img/refer-earn-icon.png">Refer and Earn</a>
            <a href="#" class="dropdown-item text-danger"><img src="/assets/img/cancel-icon.png">Cancel Subscription</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item text-center"><span class="badge badge-secondary"><img src="/assets/img/logout-icon.png">Logout</span></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<nav class="sidebar">
  <ul class="list-unstyled">
   <li>
     <a >
       <img src="/assets/img/logo-icon.png">
     </a>
   </li> 
   <li (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
     <a routerLink="/mainpage">
      <img [src]="imgSrc" />
     </a>
   </li>
   <li (mouseover)="onMouseOver1()" (mouseout)="onMouseOut1()">
     <a>
       <img [src]="imgSrc1" />
     </a>
   </li>
   <li (mouseover)="onMouseOver2()" (mouseout)="onMouseOut2()">
     <a>
       <img [src]="imgSrc2" />
     </a>
   </li>
   <li (mouseover)="onMouseOver3()" (mouseout)="onMouseOut3()">
     <a>
       <img [src]="imgSrc3" />
     </a>
   </li>
   <hr>
   <li>
     <a>
       <img src="/assets/img/populardatabase.png">
     </a>
   </li>
   <li>
    <div class="help">
     <a>
      <img src="/assets/img/help.png">
      <p>help</p>
     </a>
    </div>
   </li>
  </ul>
</nav>



<router-outlet></router-outlet>