<div class="container">
	<div class="box-1">
		<div class="center-image">
			<img src="/assets/img/logo-icon.png">
		</div>
		<div class="text-center mt-3">
			<h4><span class="text-dark">Welcome to </span> GoPinLead </h4>
			<p class="text-secondary text-center ">To start searching for leads you need to perform a Google maps search</p>
			<p class="text-center text-secondary  ">When you get the Google Maps results, just open the extension again to capture the leads information</p>
		</div>
		<div class="center-image">
		    <button class="btn btn-new">Take me to google maps</button>
	    </div>
	</div>
	
</div>